.pets-layout {
    display: flex;
    height: 100%;
    padding: 15px;
}

.pets-layout__content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    overflow: auto;
}
