.pets-layout {
    display: grid;
    height: 100%;
    padding: 120px 15px 15px 15px;
    grid-template:
        [main-left] 'nav  main' 1fr [main-right]
        [footer-left] 'nav  foot' 50px [footer-right]
        / 300px 1fr;
}
