.header {
    height: 80px;
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.02);
}

.header__logo {
    display: flex;
    position: absolute;
    flex-direction: row;
    align-items: center;
    height: 80px;
    width: 360px;
}

.header__logo-image {
    height: 60px;
    padding: 0 20px 0 50px;
}

.header__menu {
    display: flex;
    justify-content: center;
}

.header__item {
    font-weight: bold;
    padding: 0 30px;
}

.header__item_disabled {
    color: #bbb;
}
